@font-face {
  font-family: 'Bamberg Serial';
  src: url('../assets/fonts/bamberg-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Bamberg Serial';
  src: url('../assets/fonts/bamberg-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
